@font-face {
    font-family: "MR ROBOT";
    src: url("../fonts/MR ROBOT.ttf");
}

.robot-text {
    font-family: 'MR ROBOT', 'Lucida Console';
    color: red;
}

a:hover {
    color: OrangeRed;
}

.robot-logo {
    font-family: 'MR ROBOT', 'Lucida Console';
    color: red;
    font-size: 25px;
}

.robot-excerpt {
    font-size: 12px;
}
